{% extends 'index.html' %}
{% block content %}
    <section class="section section-bg" id="call-to-action" style="background-image: url(assets/images/banner-image-1-1920x500.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Meet our <em>Sales Representatives</em></h2>
                        <p>If You'd Like to Purchase a Vehicle or Get More Information, Contact Our Representatives:</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section" id="trainers">
        <div class="container">
            <br>
            <br>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="static/assets/images/team-image-1-646x680.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <span>Contact: +1 290 3588 2385</span>
                            <h4>John Doe</h4>
                            <p>My name is John and I am a sales representative at Affordable Autos. I am knowledgeable about all of the vehicles in our inventory and can help you find the best options for your budget and driving needs.</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="static/assets/images/team-image-2-646x680.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <span>Contact: +1 586 3968 6859</span>
                            <h4>Jane Smith</h4>
                            <p>My name is Jane and I am a car sales representative at Affordable Autos. I believe that the car buying process should be enjoyable and stress-free, and I work hard to make sure my clients have a positive experience.</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="static/assets/images/team-image-3-646x680.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <span>Contact: +1 586 2950 1840</span>
                            <h4>Kate Johnson</h4>
                            <p>My name is Kate and I am the head of sales at Affordable Autos. I have been in the automotive industry for 9 years and have a strong passion for helping people find their perfect car.</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            <img src="static/assets/images/team-image-4-646x680.jpg" alt="">
                        </div>
                        <div class="down-content">
                            <span>Contact: +1 285 2859 2950</span>
                            <h4>Mark Green</h4>
                            <p>Hello! My name is Mark and I am a car sales representative at Affordable Autos. I have been in the automotive industry for 11 years and have a passion for helping people find the perfect vehicle to meet their needs.</p>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
