{% extends 'index.html' %}
    <!-- ***** Header Area End ***** -->
{% block content %}
    <section class="section section-bg" id="call-to-action" style="background-image: url(static/assets/images/banner-image-1-1920x500.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>Read our <em>Terms</em></h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Our Classes Start ***** -->
    <section class="section" id="our-classes">
        <div class="container">
            <br>
            <br>
            <br>
          
            <section class="tabs-content">
              <h4>1. All sales are final and no refunds will be issued.</h4>

                <br>

                <h4>2. The customer is responsible for all applicable taxes, fees, and registration costs.</h4>

                <br>

                <h4>3. The customer is responsible for obtaining financing if necessary.</h4>

                <br>

                <h4>4. All vehicles are sold as-is, with no warranties expressed or implied.</h4>

                <br>

                <h4>5. The customer agrees to release Affordable Autos from any and all liability for damages or injuries that may occur while operating the vehicle.</h4>
            </section>
        </div>
    </section>
    <!-- ***** Our Classes End ***** -->
{% endblock %}