{% extends 'index.html' %}
    {% block content %}
    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="static/assets/images/video.mp4" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h2>Thank you for contacting <em>us </em></h2>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
  {% endblock %}

